/* Coller les bordures */
html,body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Création des variables */
@colortext:#354463;
@policetext: "Komet";
@backgroundcolorall: #C1F7D5;

/* Style de la navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    top: 0;
    height: 100px;
    width: 100vw;
    img{
        height: 63px;
        width: 160px;
        margin-left: 72px;
        margin-top: 34px;
    }
    nav{
        margin-right: 160px;
    }
    nav ul {
        display: flex;
        align-items: center;
    }
    nav ul li {
        list-style: none;
        padding-top: 55px;
    }
    nav ul a {
        font-family: @policetext;
        color: rgb(0, 0, 0);
        text-decoration: none;
        margin-left: 53px;
        font-size: 16px;
        font-weight: 400;
        display: inline-block;
        opacity: 0.7;
    }
    nav ul a.active {
        opacity: 1;
    }
    .NandE{
        margin-left: 114px;
    }
    .Ostories{
        margin-left: 129px;
    }
    .bouton {
        border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        margin-left: 72px;
        background-color: @backgroundcolorall;
        border-radius: 25px;
        font-weight: bold;
        font-family: @policetext;
    }
}